<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI颜值识别</title>
</head>
<body>
    <div align="center">
    <h1  style="color:red ">让人工智能来给你的颜值打分吧</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <!-- <br> -->
        <!-- <i>请输入您的姓名：</i> -->
        <!-- <input type="text" class="txt_input" name="name"  value="请输入您的姓名" style="margin-top:10px;"/> -->
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
    </div>
</body>
</html>